:root {
    /* COLORS */
    --principal: hsl(300, 43%, 22%);
    --span: hsl(333, 80%, 67%);

    --title-paragraph: hsl(303, 10%, 53%);
    --text: hsl(300, 24%, 96%);
    --strong: hsl(0, 0%, 100%);

    /* FONT */
    font-family: 'Spartan', sans-serif;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#container {
    width: 88vw;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}